*.class
*.classpath
*.project
*.settings

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



High-level Goals GUI/*
!High-level Goals GUI/src

Sensor/*
!Sensor/src

Monitoring/*
!Monitoring/src

Analysis/*
!Analysis/src

OpenHAB/*
!OpenHAB/configurations

Execution/*
!Execution/src

StoreDecision/*
!StoreDecision/src

Orchestrator/*
!Orchestrator/src
/StoreDecision/nbproject/private/