*.class
*.classpath
*.project

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



High-level Goals GUI/*
!High-level Goals GUI/src

Sensor/*
!Sensor/src

MonitoringAnalysis/*
!MonitoringAnalysis/src

OpenHAB/*
!OpenHAB/configurations


Execution/*
!Execution/src   # except src