*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



High-level Goals GUI/*
!High-level Goals GUI/src

Sensor/*
!Sensor/src

MonitoringAnalysis/*
!MonitoringAnalysis/src

OpenHAB/*
!OpenHAB/configurations/items
!OpenHAB/configurations/rules
!OpenHAB/configurations/sitemaps

Execution/*
!Execution/src   # except src